<center> 
<form method = "post" action = "/resultsroute">
<%topping.each do |x|%>
<p> <input  type="checkbox"  value=<%=x%> name= 'topping[]'><%=x%> </p>
<%end%>
<center><input type='submit'></center>
</form>
</center>